{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-lg-start my-5">
            <li class="breadcrumb-item">
              <a href="{% url 'store:home' %}"
                  class="text-decoration-none"
                  style="color: rgba(0,0,0, 0.7)!important;"
                  onMouseOver="this.style.color='rgba(0,0,0, 1)'"
                  onMouseOut="this.style.color='rgba(0,0,0, 0.7)'">
                  Главная
              </a>
            </li>
            <li class="breadcrumb-item active" 
                aria-current="page"
                style="color: rgba(0,0,0, 1)!important;"
            >Контакты </li>
          </ol>
        </nav>
      </div>
    
    <div class="container d-flex flex-column" style="height: calc(100% - 56px) ">
        <div class="row  flex-fill d-flex justify-content-start mt-5">
            <div class="col-12">
                <h1>Контакты</h1>
                <p class="text-secondary"><i class="fas fa-home mr-3 text-secondary "></i> Россия, Санкт-Петербург</p>
                <p class="text-secondary"><i class="fas fa-envelope mr-3 text-secondary"></i> info@gmail.com</p>
                <p class="text-secondary"><i class="fas fa-phone mr-3 text-secondary"></i> + 7 920 800 00 00</p>
                </div>
            </div>
          
        </div>
    </div>
    <style>
        body{
            display: flex;
            flex-direction: column;
            height:100vh;
            margin: 0;
            padding: 0;
            
          }
          
          .container-fluid{
            flex: 1;
          }
    </style>


    {% endblock content %}

