{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <style>
        .nav-tabs .nav-link {
            margin-bottom: 0px !important;
            background: 0 0 !important;
            border: 0px solid transparent !important;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        .nav-tabs .nav-link:focus,
        .nav-tabs .nav-link:hover {
            border-color: #FFFFFF #FFFFFF #FFFFFF !important;
            isolation: isolate !important;
        }

        #product-tab-0:focus,
        #product-tab-1:focus,
        #product-tab-2:focus {
            color: #EE6A31 !important;
            border-bottom: 2px solid #EE6A31 !important;
        }

        #product-tab-0:hover,
        #product-tab-1:hover,
        #product-tab-2:hover {
            color: #EE6A31 !important;
        }


        #product-tab-0,
        #product-tab-1,
        #product-tab-2 {
            color: #000000 !important;
        }


        .btn:focus {
            outline: none;
            box-shadow: none;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
            border: 2px solid gray !important;
        }

        .form-select:focus {
            outline: none;
            box-shadow: none;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .contain {
            object-fit: contain;
        }

        .narrow-50 {
            width: 50rem;
            height: 50rem;
            margin-top: 0px;
        }

        .narrow {
            width: 300px;
            height: 300px;
            margin-top: 0px;
        }
    </style>
    <!-- Навигация -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-start my-5">
                <li class="breadcrumb-item">
                    <a href="{% url 'store:home' %}"
                       class="text-decoration-none"
                       style="color: rgba(0,0,0, 0.7)!important"
                       onMouseOver="this.style.color='rgba(0,0,0, 1)'"
                       onMouseOut="this.style.color='rgba(0,0,0, 0.7)'">Главная</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="# "
                       class="text-decoration-none"
                       onClick="javascript:history.go(-1);"
                       style="color: rgba(0,0,0, 0.7)!important"
                       onMouseOver="this.style.color='rgba(0,0,0, 1)'"
                       onMouseOut="this.style.color='rgba(0,0,0, 0.7)'">Каталог</a>
                </li>
                <li class="breadcrumb-item active"
                    aria-current="page"
                    style="color: rgba(0,0,0, 1)!important">{{ product.slug }}</li>
            </ol>
        </nav>
    </div>
    <!-- Информация о товаре -->
    <div class="container my-5">
        <div class="row ">
            <div class="col-lg-8 col-sm-6">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div style="backdrop-filter: brightness(0.975)!important">
                            <img class="img-fluid contain narrow-50"
                                 {% comment %}
                                 src="{% static 'img/Frame.png' %}"
                                 {% endcomment %}
                                 src="{{ product.product_image.url }}"
                                 alt="{{ product.title }}"
                                 style="filter: brightness(0.975)!important">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 ">
                <h1 class="">{{ product.title }}</h1>
                <h4 class="text-secondary">{{ product.slug }}</h4>
                <h3 class="py-4">{{ product.price|intcomma }} ₽</h3>
                <div class="row">
                    <div class="col-auto">
                        {% if request.user.is_authenticated %}
                            <form action="{% url 'store:add-to-cart' %}">
                                <input type="hidden" name="prod_id" value="{{ product.id }}" id="product_id">
                                <button type="submit"
                                        class="btn btn-warning btn-lg text-light px-5"
                                        style="background-color: #EE6A31;
                                               border: 2px solid #FFFFFF"
                                        onMouseOver="this.style.border='2px solid #EE6A31'"
                                        onMouseOut="this.style.border='2px solid #FFFFFF'">Добавить в корзину</button>
                            </form>
                        {% else %}
                            <i href="#"
                               data-bs-toggle="offcanvas"
                               data-bs-target="#offcanvasRight"
                               aria-controls="offcanvasRight">
                                <button type=""
                                        class="btn btn-warning btn-lg text-light px-5"
                                        style="background-color: #EE6A31;
                                               border: 2px solid #FFFFFF"
                                        onMouseOver="this.style.border='2px solid #EE6A31'"
                                        onMouseOut="this.style.border='2px solid #FFFFFF'">Добавить в корзину</button>
                            </i>
                        {% endif %}
                    </div>
                    <div class="col-auto px-0 pb-5">
                        {% if request.user.is_authenticated %}                    
                                
                      
                            <a href="{% url 'store:add-to-liked' %}?prod_id={{ product.id }}">
                                <button type=""
                                        class="btn btn-warning btn-lg text-light"
                                        style="background-color: #EE6A31;
                                               border: 2px solid #FFFFFF"
                                        onMouseOver="this.style.border='2px solid #EE6A31'"
                                        onMouseOut="this.style.border='2px solid #FFFFFF'">
                                        {% if product.id in liked_id %} 
                                        <i class="bi bi-heart-fill text-light "></i>
                                        {% else %}
                                        <i class="bi bi-heart text-light "></i>
                                        {% endif %}
                                </button>
                            </a>
                        {% else %}
                            <i href="#"
                               data-bs-toggle="offcanvas"
                               data-bs-target="#offcanvasRight"
                               aria-controls="offcanvasRight">
                                <button type=""
                                        class="btn btn-warning btn-lg text-light"
                                        style="background-color: #EE6A31;
                                               border: 2px solid #FFFFFF"
                                        onMouseOver="this.style.border='2px solid #EE6A31'"
                                        onMouseOut="this.style.border='2px solid #FFFFFF'">
                                    <i class="bi bi-heart"></i>
                                </button>
                            </i>
                        {% endif %}
                    </div>
                </div>
                <!-- Tabs navs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active"
                           id="product-tab-0"
                           data-bs-toggle="tab"
                           href="#tabpanel-0"
                           role="tab"
                           aria-controls="fill-tabpanel-0"
                           aria-selected="true">Описание</a>
                    </li>
                    {% comment %} <li class="nav-item" role="presentation">
                        <a class="nav-link" id="product-tab-1" data-bs-toggle="tab" href="#tabpanel-1" role="tab" aria-controls="fill-tabpanel-1" aria-selected="false">Характеристики</a>
                    </li> {% endcomment %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                           id="product-tab-2"
                           data-bs-toggle="tab"
                           href="#tabpanel-2"
                           role="tab"
                           aria-controls="fill-tabpanel-2"
                           aria-selected="false">Наличие</a>
                    </li>
                </ul>
                <div class="tab-content pt-3" id="tab-content">
                    <div class="tab-pane active"
                         id="tabpanel-0"
                         role="tabpanel"
                         aria-labelledby="product-tab-0">{{ product.short_description }}</div>
                    <div class="tab-pane"
                         id="tabpanel-1"
                         role="tabpanel"
                         aria-labelledby="product-tab-1">{{ product.detail_description }}</div>
                    <div class="tab-pane"
                         id="tabpanel-2"
                         role="tabpanel"
                         aria-labelledby="product-tab-2">В наличии</div>
                </div>
            </div>
        </div>
    </div>
    <!--- Популярное -->
    <div class="container my-5">
        <div class="row justify-content-between align-items-center">
            <div class=" col-auto ">
                <h1 class=" fw-bold mb-3">Популярное</h1>
            </div>
            <div class=" col-auto ">
                <a class="text-decoration-none "
                   style="color: rgba(0,0,0, 1)!important"
                   onMouseOver="this.style.color='rgba(0,0,0, 0.7)'"
                   onMouseOut="this.style.color='rgba(0,0,0, 1)'"
                   href="{% url 'store:catalog' %}?sorting={{ sorting }}&slug=all">
                    Смотреть все
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            {% if popular_products %}
                {% for product in popular_products %}
                    <div class="col-md-3 col-sm-6 mb-4">
                        <div class="card position-relative" style="border: 0px;">
                            <div style="width: 100%!important;
                                        backdrop-filter: brightness(0.975)!important">
                                <a class="" href={% url 'store:product-detail' product.id %}>
                                    <img class="img-fluid contain narrow"
                                         {% comment %}
                                         src="{% static 'img/Frame.png' %}"
                                         {% endcomment %}
                                         src="{{ product.product_image.url }}"
                                         alt="{{ product.title }}"
                                         style="width: 100%!important;
                                                filter: brightness(0.975)!important">
                                </a>
                            </div>
                            <div class="position-absolute top-0 end-0 m-2">
                                {% if request.user.is_authenticated %}
                                    {% if product.id in liked_id %}
                                        <a href="{% url 'store:add-to-liked' %}?prod_id={{ product.id }}">
                                            <i class="bi bi-heart-fill text-danger fa-2x"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'store:add-to-liked' %}?prod_id={{ product.id }}">
                                            <i class="bi bi-heart text-dark fa-2x"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a class="bi bi-heart text-dark fa-2x"
                                       href="#"
                                       data-bs-toggle="offcanvas"
                                       data-bs-target="#offcanvasRight"
                                       aria-controls="offcanvasRight"></a>
                                {% endif %}
                            </div>
                            <div class="row justify-content-between my-1">
                                <div class="col-9">
                                    <a class="card-title fs-6 mb-2 text-decoration-none"
                                       href="{% url 'store:product-detail' product.id %}"
                                       style="color: rgba(0,0,0, 1)!important"
                                       onMouseOver="this.style.color='rgba(0,0,0, 0.7)'"
                                       onMouseOut="this.style.color='rgba(0,0,0, 1)'">{{ product.title }}</a>
                                    <p class="text-secondary">{{ product.slug }}</p>
                                    <p class="card-text">{{ product.price|intcomma }} &#8381;</p>
                                </div>
                                <div class="col-3">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'store:add-to-cart' %}?prod_id={{ product.id }}">
                                            <img src={% static 'icons/cart.svg' %} />
                                        </a>
                                    {% else %}
                                        <a href="#"
                                           data-bs-toggle="offcanvas"
                                           data-bs-target="#offcanvasRight"
                                           aria-controls="offcanvasRight">
                                            <img src={% static 'icons/cart.svg' %} />
                                        </a>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
