{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <style>
        .btn:focus {
            outline: none;
            box-shadow: none;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
            border: 0px !important;
        }

        .form-select:focus {
            outline: none;
            box-shadow: none;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }

        .contain {
            object-fit: contain;
        }

        .narrow {
            width: 300px;
            height: 300px;
            margin-top: 0px;
        }
    </style>
    <!-- Интересуем клиента -->
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="container">
                    <h1 class="text-uppercase fw-bold display-4 mb-3">Ваш звук, ваша музыка</h1>
                    <br>
                    <img class="img-fluid d-lg-none d-block my-5"
                         src="{% static 'img/banner.jpg' %}"
                         alt="баннер">
                    <div class="text-secondary lh-base text-wrap text-truncate mb-5 "
                         style="font-size: 1rem!important">
                        <span style="overflow-wrap: break-word!important;">
                            Откройте новые горизонты в мире музыки с нашими инструментами. Вдохновляйтесь и творите, наслаждаясь качеством и уникальным звучанием.льный звук
                        и выразить свою уникальность.</span>
                    </div>
                    <a class="btn btn-warning btn-lg text-light px-4"
                       style="background-color: #EE6A31;
                              border: 2px solid #FFFFFF"
                       onMouseOver="this.style.border='2px solid #EE6A31'"
                       onMouseOut="this.style.border='2px solid #FFFFFF'"
                       href="{% url 'store:catalog' %}?slug=all">Перейти в каталог
                        <i class="bi bi-arrow-right"></i>
                        {% comment %} <img class=" "src={% static '/img/arrow-right.svg'%}> {% endcomment %}
                    </a>
                </div>
            </div>
            <div class="col-6">
                <img class="img-fluid d-none d-lg-block "
                     src="{% static 'img/banner.jpg' %}"
                     alt="баннер">
            </div>
        </div>
    </div>
    <!-- Хвалим себя -->
    <div class="container-fluid bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-center">
                    <div class="container my-4 px-0 mx-0">
                        <img src={% static 'icons/cart.svg' %}>
                    </img>
                    <div class="text-light font-weight-bold mt-4">Бесплатная доставка</div>
                    <div class="mt-1" style="color: rgba(255,255,255, 0.7)!important;">Бесплатная доставка по всему миру</div>
                </div>
            </div>
            <div class="col-lg-4 text-center ">
                <div class="container my-3 px-0 mx-0">
                    <img src={% static 'icons/cart.svg' %}>
                </img>
                <div class="text-light font-weight-bold mt-4">24 х 7 на связи</div>
                <div class="mt-1" style="color: rgba(255,255,255, 0.7)!important;">Круглосуточная поддержка</div>
            </div>
        </div>
        <div class="col-lg-4 text-center  ">
            <div class="container my-4 px-0 mx-0">
                <img src={% static 'icons/cart.svg' %}>
            </img>
            <div class="text-light font-weight-bold mt-4">Лучшие предложения</div>
            <div class="mt-1" style="color: rgba(255,255,255, 0.7)!important;">Только в нашем магазине</div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Категории -->
<div class="container my-5">
    <div class="row justify-content-between align-items-center">
        <div class=" col-auto ">
            <h1 class=" fw-bold mb-3">Категории</h1>
        </div>
        <div class=" col-auto ">
            <a class="text-decoration-none "
               style="color: rgba(0,0,0, 1)!important"
               onMouseOver="this.style.color='rgba(0,0,0, 0.7)'"
               onMouseOut="this.style.color='rgba(0,0,0, 1)'"
               href="{% url 'store:catalog' %}?slug=all">
                Смотреть все
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="row ">
        {% if categories %}
            {% for category in categories %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card bg-light border-light">
                        <div class="row">
                            <div class="col-7" style="padding-right: 0px!important;">
                                <div class="card-body pe-0"
                                     style="height: 100%!important;
                                            display: flex!important;
                                            flex-direction: column!important;
                                            justify-content: space-between!important">
                                    <h5 class="card-title fs-6 ">{{ category.title }}</h5>
                                    {% comment %} <p class="card-text">{{ category.title }}</p> {% endcomment %}
                                    <a href="{% url 'store:catalog' %}?slug={{ category.slug }}"
                                       class="text-decoration-none"
                                       style="color: rgba(0,0,0, 1)!important"
                                       onMouseOver="this.style.color='rgba(0,0,0, 0.7)'"
                                       onMouseOut="this.style.color='rgba(0,0,0, 1)'">
                                        Перейти
                                        <i class="bi bi-arrow-right"></i>
                                        <hr class="mt-2" style="width: 6rem">
                                    </a>
                                </div>
                            </div>
                            <div class="col-5">
                                <img class="card-img-top"
                                     src="{{ category.category_image.url }}"
                                     alt="{{ category.title }}"
                                     style="width: 100%!important">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!--- Популярное -->
<div class="container my-5">
    <div class="row justify-content-between align-items-center">
        <div class=" col-auto ">
            <h1 class=" fw-bold mb-3">Популярное</h1>
        </div>
        <div class=" col-auto ">
            <a class="text-decoration-none "
               style="color: rgba(0,0,0, 1)!important"
               onMouseOver="this.style.color='rgba(0,0,0, 0.7)'"
               onMouseOut="this.style.color='rgba(0,0,0, 1)'"
               href="{% url 'store:catalog' %}?sorting={{ sorting }}&slug=all">
                Смотреть все
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="row">
        {% if products %}
            {% for product in products %}
                <div class="col-lg-3 col-md-6 col-sm-6 mb-4">
                    <div class="card position-relative" style="border: 0px;">
                        <div style="width: 100%!important;
                                    backdrop-filter: brightness(0.975)!important">
                            <a class="" href={% url 'store:product-detail' product.id %}>
                                <img class="img-fluid contain narrow"
                                     {% comment %}
                                     src="{% static 'img/Frame.png' %}"
                                     {% endcomment %}
                                     src="{{ product.product_image.url }}"
                                     alt="{{ product.title }}"
                                     style="width: 100%!important;
                                            filter: brightness(0.975)!important">
                            </a>
                        </div>
                        <div class="position-absolute top-0 end-0 m-3">
                            {% if request.user.is_authenticated %}
                                {% if product.id in liked_id %}
                                    <a href="{% url 'store:add-to-liked' %}?prod_id={{ product.id }}">
                                        <i class="fa-lg">
                                            <img src={% static 'icons/heart-liked-fill.svg' %}>
                                        </i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'store:add-to-liked' %}?prod_id={{ product.id }}">
                                        <i class="">
                                            <img src={% static 'icons/heart-liked.svg' %}>
                                        </i>
                                    </a>
                                {% endif %}
                                {% else %}
                                <a class=""
                                   href="#"
                                   data-bs-toggle="offcanvas"
                                   data-bs-target="#offcanvasRight"
                                   aria-controls="offcanvasRight">
                                    <i class="">
                                        <img src={% static 'icons/heart-liked.svg' %}>
                                    </i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="row justify-content-between my-1">
                            <div class="col-8">
                                <a class="card-title fs-6 mb-2 text-decoration-none"
                                   href="{% url 'store:product-detail' product.id %}"
                                   style="color: rgba(0,0,0, 1)!important"
                                   onMouseOver="this.style.color='rgba(0,0,0, 0.7)'"
                                   onMouseOut="this.style.color='rgba(0,0,0, 1)'">{{ product.title }}</a>
                                <p class="text-secondary">{{ product.slug }}</p>
                                <p class="card-text">{{ product.price|intcomma }} &#8381;</p>
                            </div>
                            <div class="col-auto ">
                                <div class="text-center">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'store:add-to-cart' %}?prod_id={{ product.id }}">
                                            <img src={% static 'icons/cart.svg' %} />
                                        </a>
                                    {% else %}
                                        <a href="#"
                                           data-bs-toggle="offcanvas"
                                           data-bs-target="#offcanvasRight"
                                           aria-controls="offcanvasRight">
                                            <img src={% static 'icons/cart.svg' %} />
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
