{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            padding: 0;

        }

        .container {
            flex: 1;
        }
    </style>
    <!-- LEFT MENU-->
    <div class="container ">
        <div class="row ">
            <div class="col-lg-4 col-sm-6 ">
                <div class="row justify-content-end align-items-center mt-5 pe-4">
                  
                    <div class="col-auto">
                        <div class="row justify-content-end">
                            <div class="col-auto">{{ request.user.username }}</div>
                            <div class="row justify-content-end">
                                <div class="col-auto">{{ request.user.email }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mr-0 pr-0">
                        <img src={% static 'icons/circle.png' %}>
                    </img>
                  
                </div>
            </div>
            <div class="row justify-content-end ">
                <div class="col-auto mx-2">
                    <div class="container "
                         style="height: 100%!important;
                                display: flex!important;
                                flex-direction: column!important;
                                justify-content: space-between!important">
                        <div class="row justify-content-end mt-5">
                            <div class="col-auto">
                                <a class="text-decoration-none fs-4 "
                                   href="{% url 'store:orders' %}"
                                   {% if active == 'orders' %} style="color: #EE6A31!important;" {% else %} style="color: rgba(0,0,0, 1)!important;" {% endif %}
                                   onMouseOver="this.style.color='#EE6A31'"
                                   onMouseOut="this.style.color='rgba(0,0,0, 1)'">Заказы</a>
                            </div>
                        </div>
                        <div class="row justify-content-end my-1">
                            <div class="col-auto">
                                <a class="text-decoration-none fs-4"
                                   href="{% url 'store:address' %}"
                                   {% if active == 'address' %} style="color: #EE6A31!important;" {% else %} style="color: rgba(0,0,0, 1)!important;" {% endif %}
                                   onMouseOver="this.style.color='#EE6A31'"
                                   onMouseOut="this.style.color='rgba(0,0,0, 1)'">Адреса</a>
                            </div>
                        </div>
                        <div class="row justify-content-end my-1">
                            <div class="col-auto">
                                <a class="text-decoration-none fs-4"
                                   href="{% url 'store:cart' %}"
                                   {% if active == 'cart' %} style="color: #EE6A31!important;" {% else %} style="color: rgba(0,0,0, 1)!important;" {% endif %}
                                   onMouseOver="this.style.color='#EE6A31'"
                                   onMouseOut="this.style.color='rgba(0,0,0, 1)'">Корзина</a>
                            </div>
                        </div>
                        <div class="row justify-content-end my-1">
                            <div class="col-auto">
                                <a class="text-decoration-none fs-4"
                                   href="{% url 'store:liked' %}"
                                   {% if active == 'liked' %} style="color: #EE6A31!important;" {% else %} style="color: rgba(0,0,0, 1)!important;" {% endif %}
                                   onMouseOver="this.style.color='#EE6A31'"
                                   onMouseOut="this.style.color='rgba(0,0,0, 1)'">Избранное</a>
                            </div>
                        </div>
                        <div class="row justify-content-end my-1">
                            <div class="col-auto">
                                <a class="text-decoration-none fs-4"
                                   href="{% url 'store:settings' %}"
                                   {% if active == 'settings' %} style="color: #EE6A31!important;" {% else %} style="color: rgba(0,0,0, 1)!important;" {% endif %}
                                   onMouseOver="this.style.color='#EE6A31'"
                                   onMouseOut="this.style.color='rgba(0,0,0, 1)'">Настройки</a>
                            </div>
                        </div>
                        <div class="row justify-content-end my-1">
                            <div class="col-auto">
                                <a class="text-decoration-none fs-4"
                                   href="{% url 'store:logout' %}"
                                   style="color: rgba(0,0,0, 1)!important"
                                   onMouseOver="this.style.color='#EE6A31'"
                                   onMouseOut="this.style.color='rgba(0,0,0, 1)'">Выйти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-6 ">
            <div class="row my-5">
                {% block profile-content %}
                {% endblock profile-content %}
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="container py-5">
        {% include 'partials/_messages.html' %}

        <div class="jumbotron">
          <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
          <p><strong>Почта:</strong> {{request.user.email}}</p>
          <p><strong>Пользователь:</strong> {{request.user.username}}</p>
          <p><a class="btn btn-primary btn-large" href="{% url 'store:add-address' %}">Добавить адрес »</a> <a class="btn btn-outline-primary btn-large" href="#">Мои покупки »</a></p>
        </div>


        <div class="row">

          <div class="col-lg-6">
            <div class="card mb-4" id="headings">
              <div class="card-header">Адреса <span class="float-right"><a href="{% url 'store:add-address' %}">Добавить адрес</a></span></div>
              <div class="card-body">
                {% if addresses %}
                    {% for address in addresses %}
                        <h4 class="mb-3">Адреса {{forloop.counter}}</h4>
                        
                        <span class="float-right"><a href="{% url 'store:remove-address' address.id %}"><i class="fas fa-trash-alt small text-muted"></i></a></span>

                        <p>
                          <strong>Город: </strong>{{address.city}} <br>
                          <strong>Улица: </strong>{{address.locality}} <br>
                            <strong>Дом: </strong>{{address.state}} <br>
                        </p>

                        <hr>
                    {% endfor %}
                {% else %}
                <div class="text-danger">
                  Адрес не добавлен.
                </div>
                {% endif %}
                
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card mb-4" id="tables">
              <div class="card-header">Покупки</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Продукт</th>
                      <th>Статус</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if orders %}
                      {% for order in orders %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{order.product.title}}</td>
                          <td>
                            {{order.status}}
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-danger" colspan="3">Вы еще ничего не заказали.</td>
                    </tr>
                    {% endif %}
                    
                    
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
          
        </div>
    
        
        
</div> {% endcomment %}
{% endblock content %}
