{% extends 'account/profile.html' %}
{% load static %}
{% block profile-content %}
    <style>
        .btn:focus {
            outline: none;
            box-shadow: none;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=text] {
            -moz-appearance: textfield;
        }

        input {
            border: 0px !important
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="d-flex align-items-center justify-content-between mb-5 fs-2">Настройки</div>
                <form method="POST"
                      action="{% url 'store:change-user-info' %}"
                      autocomplete="off">
                    {% csrf_token %}
                    <div class="d-flex align-items-center justify-content-between my-4 fs-4">Личная информация</div>
                    <div class="d-flex align-items-center justify-content-between mb-0 fs-4">
                        <input type="text" {% if request.user.username %}value={{ request.user.username }} required{% endif %} readonly autocomplete="off" name="username" id="username" class="form-control" placeholder="Логин" editable=False>
                        {% comment %} <i class="bi bi-pencil  text-secondary fs-5"></i> {% endcomment %}
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex align-items-center justify-content-between mb-0 fs-4">
                        <input type="text" {% if request.user.first_name %}value={{ request.user.first_name }} required{% endif %} autocomplete="off" name="name" id="name" class="form-control" placeholder="Имя">
                        <i class="bi bi-pencil  text-secondary fs-5"></i>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex align-items-center justify-content-between mb-0 fs-4">
                        <input type="text" {% if request.user.last_name %}value={{ request.user.last_name }} required{% endif %} autocomplete="off" name="surname" id="surname" class="form-control" placeholder="Фамилия">
                        <i class="bi bi-pencil  text-secondary fs-5"></i>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex align-items-center justify-content-between my-4 fs-4">Контакты</div>
                    <div class="d-flex align-items-center justify-content-between mb-0 fs-4">
                        <input type="text" {% if request.user.email %}value={{ request.user.email }} required{% endif %} autocomplete="off" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="30" class="form-control" placeholder="Электронная почта">
                        <i class="bi bi-pencil  text-secondary fs-5"></i>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex align-items-center justify-content-between my-4 fs-4">Пароль</div>
                    <div class="d-flex align-items-center justify-content-between mb-0 fs-4">
                        <input type="password"
                               autocomplete="new-password"
                               minlength="8"
                               name="user-change-password"
                               class="form-control"
                               id="user-change-password"
                               placeholder="Пароль"
                               required>
                        <i class="bi bi-pencil  text-secondary fs-5 "></i>
                    </div>
                    <hr class="mt-0">
                    <div class="d-grid">
                        <button type="submit"
                                class="btn btn-warning btn-lg text-light mt-3"
                                style="background-color: #EE6A31;
                                       border: 2px solid #FFFFFF"
                                onMouseOver="this.style.border='2px solid #EE6A31'"
                                onMouseOut="this.style.border='2px solid #FFFFFF'">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock profile-content %}
