
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white bg-dark"
          
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row align-items-center">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h1 class="text-uppercase mb-4 font-weight-bold">
              MUSIC&nbspSHOP
            </h1>
            
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <a class="h6 text-uppercase my-5 font-weight-bold text-decoration-none"
                  style="color: rgba(255,255,255, 0.7)!important;"
                  onMouseOver="this.style.color='rgba(255,255,255, 0.9)'"
                  onMouseOut="this.style.color='rgba(255,255,255, 0.7)'"
            href="{% url 'store:all-categories' %}">
              Каталог
            </a>
            
            
          </div>


          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <a class="h6 text-uppercase my-5 font-weight-bold text-decoration-none"
                  style="color: rgba(255,255,255, 0.7)!important;"
                  onMouseOver="this.style.color='rgba(255,255,255, 0.9)'"
                  onMouseOut="this.style.color='rgba(255,255,255, 0.7)'"
            href="{% url 'store:contacts' %}">
              Контакты
            </a>
            
          
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3 text-secondary">
              © 2024 Copyright:
              <a class="text-secondary text-decoration-none" href="https://mdbootstrap.com/"
                 >musicshop.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

         
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
