<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #1B1B1B">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!--Grid row-->
        <div class="row justify-content-between">
            <div class="col-lg-auto col-sm-12">
                <h1 class=" mb-4 ">
                    Звук<span style="color: #EE6A31!important;">Мир</span>
                </h1>
            </div>
            <div class="col-lg-auto col-sm-12 ">
                <div class="row justify-content-end">
                    <div class="col-lg-auto col-sm-12 ">
                        <a class="nav-link fs-5 text-light"
                           href="{% url 'store:catalog' %}?slug=all">Каталог</a>
                    </div>
                    <div class="col-lg-auto col-sm-12 ">
                        <a class="nav-link fs-5 text-light mb-2 px-0"
                           href="{% url 'store:contacts' %}">Контакты</a>
                        <p class="text-secondary">+7 812 555-77-77</p>
                        <p class="text-secondary">zvukmir@mail.ru</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="py-3 text-secondary">© ZvukMir 2023</div>
                <!-- Copyright -->
            </div>
            <!-- Grid column -->
        </div>
    </footer>
    <!-- Footer -->
