{% load static %}

<!-- navbar-->
      <header class="header bg-dark">
        <div class="container px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-dark py-3 px-lg-0"><a class="navbar-brand " href="{% url 'store:home' %}"><span class="font-weight-bold text-uppercase text-light">Music Shop</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link text-light" href="{% url 'store:all-categories' %}">Каталог</a>
                </li>
                <li class="nav-item">
                  <!-- Link--><a class="nav-link text-light" href="{% url 'store:contacts' %}">Контакты</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto"> 
                {% if request.user.is_authenticated %}           
                  <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'store:cart' %}"> 
                      <i class="fas fa-shopping-bag"></i>
                        {% if cart_items != 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
                          {{cart_items}}
                        </span>
                        {% endif %}
                    </a>
                  </li>
                  <li class="nav-item mr-3">
                    <a class="nav-link" href="{% url 'store:cart' %}"> 
                      <i class="fas fa-heart"></i>
                        {% if liked_items.count != 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
                          {{liked_items.count}}
                        </span>
                        {% endif %}
                    </a>
                  </li>

              
                  <li class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu2" href="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user-alt mr-1 text-gray"></i>
                    </a>
                  
                    <div class="dropdown-menu mt-3 bg-dark" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item bg-dark text-light" href="{% url 'store:profile' %}">Профиль</a>
                        <a class="dropdown-item bg-dark text-light" href="{% url 'store:cart' %}">Корзина</a>
                        <a class="dropdown-item bg-dark text-light" href="{% url 'store:orders' %}">Покупки</a>
                        <a class="dropdown-item bg-dark text-light" href="{% url 'store:password-change' %}">Смена пароля</a>

                        <hr>
                        <a class="dropdown-item border-0 transition-link bg-dark text-light" href="{% url 'store:logout' %}">Выйти из профиля</a>
                    </div>
                    
                  </li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'store:login' %}">Войти</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'store:register' %}">Создать аккаунт</a></li>
                {% endif %}   
              </ul>
            </div>
          </nav>
        </div>
      </header>

