{% load static %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3"
      id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" 
        href="{% url 'store:home' %}">
        MUSIC&nbspSHOP
    </a>
 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item px-0">
          <a class="nav-link  " href="{% url 'store:catalog' %}">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          {% comment %} <a class="nav-link mx-2" href="{% url 'store:home' %}">
            <img src="{% static 'icons/icon2.png' %}" height="40" />
          </a> {% endcomment %}
          <a class="nav-link text-light fa-lg" style="margin-right: 25rem!important; margin-left: 25rem!important;" href="{% url 'store:home' %}">
            MUSIC&nbspSHOP
          </a>
        </li>
       
        {% if request.user.is_authenticated %}           
          <li class="nav-item mr-3">
            <a class="nav-link mx-2" href="{% url 'store:cart' %}"> 
              <i class="bi bi-bag position-relative fa-lg" >
                {% if cart_items != 0 %}
                <span class="position-absolute top-50 start-50 badge rounded-pill bg-danger"
                style="font-size:0.7rem;">
                  {{cart_items}}
                </span>
                {% endif %}
              </i>
                
            </a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link mx-2" href="{% url 'store:cart' %}"> 
              <i class="bi bi-heart position-relative fa-lg">
                {% if liked_items.count != 0 %}
                <span class="position-absolute top-50 start-50 badge rounded-pill bg-danger"
                style="font-size:0.7rem;">
                  {{liked_items.count}}
                </span>
                {% endif %}
              </i>
                
            </a>
          </li>

      
          <li class="nav-item dropdown mr-3">
            <a class="nav-link dropdown-toggle mx-2" id="dropdownMenu2" href="#" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-person fa-lg" height="30"></i>
            </a>
          
            <div class="dropdown-menu mt-3 bg-dark"
                
                aria-labelledby="dropdownMenu2">

                <a class="dropdown-item bg-dark"
                  style="color: rgba(255,255,255, 0.7)!important;"
                  onMouseOver="this.style.color='rgba(255,255,255, 0.9)'"
                  onMouseOut="this.style.color='rgba(255,255,255, 0.7)'"
                  href="{% url 'store:profile' %}">Профиль</a>
                  {% comment %} <a class="dropdown-item bg-dark text-light" href="{% url 'store:cart' %}">Корзина</a> {% endcomment %}
                <a class="dropdown-item bg-dark"
                  style="color: rgba(255,255,255, 0.7)!important;"
                  onMouseOver="this.style.color='rgba(255,255,255, 0.9)'"
                  onMouseOut="this.style.color='rgba(255,255,255, 0.7)'"
                  href="{% url 'store:orders' %}">Покупки</a>
                <a class="dropdown-item bg-dark"
                  style="color: rgba(255,255,255, 0.7)!important;"
                  onMouseOver="this.style.color='rgba(255,255,255, 0.9)'"
                  onMouseOut="this.style.color='rgba(255,255,255, 0.7)'"
                  href="{% url 'store:password-change' %}">Смена пароля</a>
                <hr class="bg-danger border-2 border-top border-light" />
                
                <a class="dropdown-item bg-dark"
                  style="color: rgba(255,255,255, 0.7)!important;"
                  onMouseOver="this.style.color='rgba(255,255,255, 0.9)'"
                  onMouseOut="this.style.color='rgba(255,255,255, 0.7)'"
                  href="{% url 'store:logout' %}">Выйти из профиля</a>
            </div>
            
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'store:login' %}">Войти</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'store:register' %}">Создать аккаунт</a></li>
        {% endif %}   
        
    </div>
  </div>
</nav>


